
<div id="openrefine-setup">
  <h3>OpenRefine</h3>
  <p>
    OpenRefine is a tool to clean up and organize messy data. Please find instructions to install it <a href="https://librarycarpentry.org/lc-open-refine/setup.html">here</a>.
    Participants should install the latest stable version of OpenRefine 3.5.0. It is recommended that Windows users install the Windows kit with embedded Java.
  </p>
  <h3>Data files</h3>
  <p>
    Please download the <a href="https://github.com/gwu-libraries/2021-12-16-gwu/blob/gh-pages/files/files-for-downloading.zip?raw=true">zipped folder of files for use in the exercises for Python and OpenRefine.</a>
    Once you have downloaded the zipped file, locate the file on your computer and double click to unzip it.
  </p>
</div>

